.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Experience {
  margin:16px;
}

.Experience p {
  margin:8px;
  font-size:16px;
  color:#666;
}

.Experience span::after {
  content:" ";
}

.Experience b {
  color: #007;
  font-style:;
}

.Experiences-controls {
  display:flex;
}

.Experiences-controls input {
  font-size:32px;
  padding:8px;
  border-radius:8px;
  margin:1em auto;
}

.Experience img {
  height:300px;
  width:200px;
}

.Experience-container {
  display:flex;
}

